body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #28a745;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
}

a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
.tick-image {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

